- case value
- when Hash
  - if value[:style]
    = render partial: value[:style].include?('/') ? value[:style] : "static/#{value[:style]}", :locals => {name: key, items => value[:items]}
  - else
    - [value[:items]].flatten.each_with_index do |step, idx|
      %div.row
        %div.step.navfix{id: step[:id]}
          - if idx % 2 == 0
            = render partial: 'static/content_block', locals: {item: step}
            = render partial: 'static/code_img_block', locals: {code: step[:code], image: step[:img]}
          - else
            = render partial: 'static/code_img_block', locals: {code: step[:code], image: step[:img]}
            = render partial: 'static/content_block', locals: {item: step}
- when Array
  - value.each do |content|
    %p!= content
- else
  %p!= value