- if content.kind_of?(Hash)
  %div{ class: content["class"], id: content.id }
    - if content.has_key?("data")
      = render :partial => "static/data", locals: { content: content.data }
    - else
      - if content[:linked]
        %a.content-link{ href: content[:linked][:url] }
          = render :partial => "static/#{content.layout || "default"}", locals: { content: content }
      - else
        = render :partial => "static/#{content.layout || "default"}", locals: { content: content }

- elsif content.kind_of?(Array)
  %div.row
    - @width = 12 / content.count
    - content.each do |item|
      - if item.kind_of?(Hash)
        - if item.has_key?("class")
          - item["class"] = "#{item["class"]} col-sm-#{item.width || @width}"
        - else
          - item["class"] = "col-sm-#{item.width || @width}"
      = render :partial => "static/display", locals: { content: item }

- else
  = render :partial => "static/default", locals: { content: content }
