%div.container.documentation
  %div.row
    - if value[:content]
      %div.col-sm-12
        - [value[:content]].flatten.compact.each do |content|
          - if content.is_a?(String)
            %p!= content

    - if value[:items]
      - value[:items].each do |item|
        - col = "col-md-#{item[:width]}"
        %div{ class: "col-sm-6 #{col}" }
          :preserve
            #{render :partial => item[:render]}

    - if value[:render]
      %div.col-sm-12
        :preserve
          #{render :partial => value[:render]}
